body {
    background: url("code.jpeg");
  }
  
.card-container {
    display: grid;
  
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    gap: 20px;
    height: 88vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
#box {
    height: 93%;
    width: 100%;
    background-color: #585858;
    padding: 2px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 20px;
}

#in {
    height: 100%;
    width: 100%;
    background-color: #111;
    position: relative;
    z-index: 99;
}

#box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    height: 400px;
    width: 2000px;
    background-color: #fff;
    animation: move 3s infinite;
    z-index: 1; /* Ensure the animation is below the content */
    opacity: 0.1; /* Slight opacity for a subtle effect */
}

.card :hover{
    
}

@keyframes move {
    0% {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(405deg);
    }
}

  .card {
    
    background-color: #171717;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
  
  .img {
    background-color: #ffffff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
    
  }
  
  .info {
    padding-top: 5%;
    padding-left: 30px;
    padding-right: 30px;
    
  
    /* margin-top: 10px; */
    font-size: 14px;
    color: #ffffff;
    
  }
  
  .Name a{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 30px;
    color: #ffffff;
    text-decoration: none;
  }
  
    .share {
      display: flex;
        z-index: 0;
    
      /* margin-top: 90%; */
      margin-bottom: 9px;
      /* flex-direction: column; */
      justify-content: center;
      margin-top: 4vh;
      gap: 3px;
    
    }
    
    .share a {
      margin: 0 7px;
      color: #ffffff;
      text-decoration: none;
    
    
    }
    
    .share a:hover {
      color: #0073e6;
    }
    
    
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(0, 0, 0);
      padding: 0 30px;
      height: 60px;
    }
    
    .navbar .logo {
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
      font-size: 20px;
      color: white;
    }
    
    .navbar ul {
      display: flex;
      list-style-type: none;
      margin: 0;
    }
    
    .navbar a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      padding: 15px;
      text-align: center;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
    }
    
    .navbar a:hover {
      background-color: hsl(0, 0%, 100%);
      color: rgb(0, 0, 0);
    } 