body {
  background-color: #313131;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.img {
  background-color: #ffffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.info {
  margin-top: 10px;
  font-size: 14px;
  color: #ffffff;
}

#Name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.share {
  margin-top: 15px;
}

.share a {
  margin: 0 5px;
  color: #ffffff;
  text-decoration: none;
}

.share a:hover {
  color: #0073e6;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 0 30px;
  height: 60px;
}

.navbar .logo {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 15px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.navbar a:hover {
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
} 